* {
    font-family: Calibri;
}

body {
    z-index: 0;
    background : "back1.jpg";
    background-color: #F5F6F7;
    width: 100%;
    margin: 0;
}
#headtext
{
    position: absolute; top: 150px; left: 450px; z-index: 2;
    font-weight:bold;font-style:italic;text-transform:uppercase;color:#000000;letter-spacing:10pt;
    word-spacing:-10pt;font-size:130px;text-align:left;font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;line-height:1;
}
.test11 {
    position: absolute; left:680px; top: 500px; z-index: 2;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.test11:hover {
    position: absolute; left:680px; top: 500px; z-index: 2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.test11:active {
    position: absolute; left:680px; top: 501px; z-index: 2;
}

#animal
{
    position: absolute; width: 100%; height: 100%;
    z-index: 1;
    opacity: 1;
}
header {
	display: inline-block;
}
#equilateral
{
    position: absolute;  left:315px; top: 480px;
}
#ellipse
{
    position: absolute;  left:315px; top: 385px;
}
#rectangle
{
    position: absolute;  left:315px; top: 290px;
}
#pencil
{
    position: absolute;  left:315px; top: 200px;
}
#eraser
{
    position: absolute;  left:315px; top: 120px;
}
#bgwhite
{
    position: absolute; left:400px; top: 80px; width: 652px; height: 572px; background-color: white;
}
canvas{
    position: absolute; cursor: arrow;  left:400px; top: 80px;
}
#undo
{
	position: absolute;  left:1120px; top: 125px;
}
#redo
{
	position: absolute;  left:1220px; top: 125px;
}

#facebook
{
    position: absolute;  left:1220px; top: 385px;
}
#circlep
{
	position: absolute;  left:1120px; top: 200px;
}
#squarep
{
	position: absolute;  left:1220px; top: 200px;
}


#redc
{
    position: absolute;  left:850px; top: 50px;
}
#color-quick-1  /*一職都黑*/
{
    position: absolute;  left:1150px; top: 200px; margin: 15px 10px;
}
.color-box-quick{
    position: absolute;  left:1100px; top: 200px;
    height: 50px;
    width: 40px;
    float: left;
    margin: 15px 10px;
    outline: 2px solid rgb(0, 0, 0);
}

.color-boxx {
    position: absolute;  left:1070px; top: 540px; 
}
.color-boxx ul li{
    float: left;
    display: block;
    padding: 4px;
    
}

.color-boxx ul li div{
    height: 20px;
    width: 20px;
    outline: 2px solid rgb(0, 0, 0);
}
#inputcolor{   /*大調色*/
    position: absolute;  left:180px; top: 20px; 
    margin: 12px 10px 0px 5px;
    height: 48px;
}


hr {
    position: absolute;  left:-100px; top: 5px;
    width: 250%;
    float: left;
    margin-left: 10px;
    height: 2px;
    background-color: black;
    border: 0px;
}
span {
    color: rgb(0, 2, 1);
    float: right;
    padding-right: 10px;
}


.color-box ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.tool-box ul li{
	float: left;
    display: block;
    padding: 10px;
}

.toolhov :hover
{
	background-color: rgba(0, 238, 255, 0.295);
}



.setting-box{  /*長度*/
    position: absolute;  left:1230px; top: 630px;
}

#rangeThickness{
    position: absolute;  left:-100px; top: 20px;
    width: 150px;
    margin: 12px 0px;
}



.color-box ul li div{
    outline: 2px solid white;
}

.color-box-quick:hover, .color-box ul li div:hover, .color-box .active{
    outline: 2px solid grey;
}

#download
{
    position: absolute;  left:1220px; top: 290px;
}
#clear
{
	position: absolute;  left:1115px; top: 290px;
}

#text
{
    position: absolute;  left:315px; top: 588px;
}
#canword
{
    position: absolute; left: 580px;
    font-family: "palatino linotype", palatino, serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 19pt;
    word-spacing: 11.4pt;
    line-height: 0.8;

}
#editor
{
    position: absolute; left: 1350px; top: 650px;
    font-family: "palatino linotype", palatino, serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4pt;
    word-spacing: -0.2pt;

}


input[type="text"]{padding:5px 15px; border:2px black solid;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; }

#inputGroupSelect01
{
	position: absolute;  left:295px; top: 661px;
}

#fileUpload
{
	position: absolute;
    left:1100px; top: 565px;
}
#fakepic
{
    position: absolute;
    left:1115px; top: 385px;
}

.custom-select {
	padding: 0;
	margin: 2px;
	line-height: 1.7em;
	/*font-size: 12px;*/
	cursor: pointer;
	position: relative;
	display: inline-block;
	background: #fff;
	background-image: linear-gradient(#fff,#f5f5f5 49%,#eaeaea 50%, #f2f2f2);
	/*border: 1px solid #ccc;*/
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,0.7), inset 0 1px 2px rgba(255,255,255,0.5);
}



